body {
  background-color: #ffffff;
  color: #74787C;
}

 .header.fixed {
  background-color: var(--rr-color-common-white);
  border-bottom: 1px solid #efefef;
}
.header .primary-header-inner .header-menu-wrap ul li.active a {
  color: #11151C ;
}
.header .primary-header-inner .header-menu-wrap ul li a {
  color: var(--rr-color-heading-primary);
}

.header .primary-header-inner .header-right-wrap .header-right .sidebar-trigger {
  color: #3F5AF3;
  border: 1px solid var(--rr-color-grey-light);
}
.header .primary-header-inner .header-right-wrap .header-right .sidebar-trigger svg {
  color: var(--rr-color-theme-primary);
}


.sidebar-area {
  background-color: var(--rr-color-common-white);
}
.hero-section .hero-bg-shape {
  opacity: 0.1;
}
.hero-content .title {
  color: var(--rr-color-theme-primary);
}

.hero-content .title {
  font-size: 135px;
  font-weight: 800;
  line-height: 1;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.process-item .process-icon {
  background-color: #F2F3F4;
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 35px;
    position: relative;
}
.process-item .process-icon img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  display: block;
}
.process-section .bg-shape {
  opacity: 0.03;
}

.about-wrap .shape {
  opacity: 0.05;
}
.about-wrap .shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.light-img {
  display: block;
}
.dark-img {
  display: none;
}

.about-wrap {
  background-color: var(--rr-color-grey-light);
  max-width: 1710px;
  width: 100%;
  padding: 0 115px 0 150px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow-x: clip;
}
.about-section .round-shape {
  opacity: 0.05;
}
.service-section .shape {
  opacity: 0.05;
}
.service-section .bg-color {
  background-color: var(--rr-color-grey-light);
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.service-item .service-text a:hover {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
.faq-section .faq-shape {
  opacity: 0.05;
}
.faq-section .faq-top-shape {
  background-color: rgba(63, 90, 243, 0.18);
}
.faq-content .accordion .accordion-item:first-child {
  border-top: 1px solid var(--rr-color-border-light);
}
.faq-content .accordion .accordion-item {
  background-color: transparent;
  border: none;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--rr-color-border-light);
  border-radius: 0;
}
.faq-content .accordion .accordion-item .accordion-button {
  color: #11151C;
}

.faq-content .accordion .accordion-item .accordion-button:after {
  border: 1px solid var(--rr-color-border-light);
  color: var(--rr-color-heading-primary);
}

.running-text.testi ul li{
  color: var(--rr-color-heading-primary);
}


.project-item .project-content .project-right .title {
  color: var(--rr-color-heading-primary);
}
.project-accordion .accordion-item:first-child {
  border-top: 1px solid var(--rr-color-border-light);
}
.project-accordion .accordion-item {
  border-bottom: 1px solid var(--rr-color-border-light);
}

h1.custom-heading {
  color: #11151C;
}
h2.custom-heading {
  color: #11151C;
}
h3.custom-heading {
  color: #11151C;
}
h4.custom-heading {
  color: #11151C;
}
h5.custom-heading {
  color: #11151C;
}
h6.custom-heading {
  color: #11151C;
}

.project-color {
    background-color: transparent ;
  };

  h1.title.customHeading{
    color: #ffffff; /* Using full hex code for white */
  }

  .service-item .service-custom-text a {
    font-size: 18px;
    font-weight: 700;
    color: var(--rr-color-grey-2);
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}


.header .primary-header-inner .header-menu-custom ul li.active a {
  color: #ffffff;
}


.post-card {
  background-color: var(--rr-color-grey-light);
  border: 1px solid var(--rr-color-grey-light);
}

.post-card .post-content .rr-primary-btn {
  border: 1px solid #1E2228;
  color: var(--rr-color-heading-primary);
}
/* Example CSS for Testimonial Section */

body {
  background-color: var(--rr-color-common-white);
  color: #74787C;
}
 .testi-item {
  background-color: var(--rr-color-grey-light);
}

.testi-item .testi-content .author{
  color: var(--rr-color-heading-primary);
}
.testi-item .testi-thumb {
  border: 10px solid var(--rr-color-common-white);
}

/* Ensure swiper-pagination is centered and positioned correctly */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 10px; 
  /* Adjust this value to move the pagination up or down */
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: #ffff; /* Change bullet color as needed */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background: #007aff; /* Active bullet color */
  width: 14px;
  height: 14px;
}


.testi-carousel .swiper-pagination{position: relative  !important; margin-top:40px !important}
.service-item:hover .service-text a{color:#007aff !important}

.post-card .post-content .title:hover a{
  color: #007aff;
}
.post-content-wrap .post-meta li {
  font-family: var(--rr-ff-body);
  color: #74787C;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.section-heading .bg-text {
  color: #f8f8f8;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #E8E9EF;
}

.process-box {
  background-color: var(--rr-color-grey-light);
}
.process-box .number {
  color: var(--rr-color-theme-primary);
}
.process-box .title {
  color: var(--rr-color-heading-primary);
}
.process-box .read-more:hover {
  color: var(--rr-color-theme-primary);
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  text-transform: capitalize;
  line-height: 1;
}

.about-tab .nav-tabs .nav-link {
  background-color: var(--rr-color-grey-light);
  color: var(--rr-color-heading-primary);
}

.service-cta-wrap .section-heading .section-title {
  color: var(--rr-color-common-white);
}
.post-card-2.card-3 .post-content-wrap .post-content .post-meta li {
  color: var(--rr-color-text-body-light);
}
.post-card-2.card-3 .post-content-wrap .post-content .title a {
  color: var(--rr-color-heading-primary);
}
.post-card-2.inner-blog-2 .post-content .rr-primary-btn {
  color: var(--rr-color-heading-primary);
}
.post-card-2.inner-blog-2 .post-content .rr-primary-btn:hover {
color: #ffff;
}

.contact-content {
  background-color: var(--rr-color-grey-light);
  border-color: var(--rr-color-border-light);
}

.contact-content .contact-list .list-item .icon {
  background-color: var(--rr-color-common-white);
}
.blog-contact-form.form-2 {
  background-color: var(--rr-color-common-white);
}
.blog-contact-form.form-2 .request-form .form-item .form-control {
  background-color: var(--rr-color-grey-light);
}

.sidebar-widget .category-list li a {
  background-color: var(--rr-color-grey-light);
  color: var(--rr-color-heading-primary);
  border-bottom: none;
}

.service-widget {
  background-color: var(--rr-color-grey-light);
  border: 1px solid var(--rr-color-border-light);
}


.service-widget .category-list li a {
  background-color: var(--rr-color-common-white) !important;
  color: var(--rr-color-heading-primary) !important;
}
.service-widget .category-list li:hover a {
  background-color: var(--rr-color-theme-primary) !important;
  color: var(--rr-color-common-white) !important;
}
/* .service-widget .category-list li.active a {
  background-color: var(--rr-color-theme-primary) !important;
  color: var(--rr-color-common-white) !important;
} */
